/* Стили для модалки */
.modal {
  display: none; /* Скрыта по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон */
  z-index: 9999;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Контент модалки */
.modal-content {
  background-color: #F6F6F6;
  border-radius: 20px;
  width: 90%;
  max-width: 460px;
  padding: 30px;
  position: relative;
  @media(max-width: 767px) {
    padding: 20px;
  }
}

/* Кнопка закрытия */
.close-modal {
  position: absolute;
  top: 0;
  font-size: 1.5em;
  color: #333;
  cursor: pointer;
  left: calc(100% + 40px);
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  svg{
    fill: transparent;
    stroke: white !important;
  }
  @media(max-width: 767px) {
    left: auto;
    right: 0;
    top: -40px;
    width: 20px;
    height: 20px;
  }
}

/* Анимация для появления модалки */
.modal.show {
  display: flex;
  animation: fadeIn 0.3s ease-out;
  opacity: 1;
  z-index: 9999999 !important;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.modal-content-title{
  text-align: center;
  color: #EF1616;
}

.modal-content-description{
  text-align: center;
}

.form-item{
  margin-bottom: 20px;
  width: 100%;
}

.input-text{
  background: white;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  padding: 0 26px;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  &::placeholder{
    color: #909090;
  }
}

.modal-success{
  .modal-content{
    max-width: 588px;
  }
}