@use 'library/swiper';
@use "library/noUi";
@use "base/base";
@use "components/modal";

.product-container{
  display: flex;
  align-items: flex-start;
  @media(max-width: 1260px) {
    flex-direction: column;
  }
}

.product-main{
  width: 100%;
}

.product-code{
  text-align: right;
}

.product-sidebar{
  flex-shrink: 0;
  width: 305px;
  margin-left: 20px;
  @media(max-width: 1260px) {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
}

.product-sidebar__consultation{
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-link{
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-bottom: 15px;
  text-decoration: none;
  transition: all .25s linear;
  .icon{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    margin-right: 8px;
  }
  svg{
    fill: #A7A7A7;
  }
  &:last-child{
    margin-bottom: 0;
  }
  &:hover{
    color: #FF9100;
  }
}

.sidebar-link_email{
  .icon{
    width: 23px;
  }
}

.product-slider{
  width: 488px;
  img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  @media(max-width: 600px) {
    width: 100%;
  }
}

.product-sidebar__main{
  padding: 20px;
  border: 1px solid #A7A7A7;
  border-radius: 20px;
}

.product-slider__big{
  height: 488px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 35px;
  margin-bottom: 20px;
  .swiper-slide{
    padding: 30px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media(max-width: 600px) {
    height: 350px;
  }
}

.product-slider__small-container{
  display: flex;
  align-items: center;
  .swiper-arrow{
    flex-shrink: 0;
    width: 12px;
    height: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }
  svg{
    stroke: red;
    fill: transparent;
  }
  .swiper-arrow_prev{
    margin-right: 20px;
  }
  .swiper-arrow_next{
    margin-left: 20px;
  }
  .swiper-button-disabled{
    opacity: .5 !important;
    display: block;
  }
  .swiper-slide{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px !important;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }
}

.product-slider__small{
  margin: -20px -10px;
  padding: 20px 10px;
}

.credit-info{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: -15px;
}

.credit-info__item{
  width: calc(50% - 8px);
  margin-top: 15px;
  background: #F0F2F9;
  border-radius: 12px;
  padding: 10px 20px;
  @media(max-width: 1260px) {
    width: calc(25% - 8px);
  }
  @media(max-width: 600px) {
    width: calc(50% - 8px);
  }
}

.slider-pl{
  @media(max-width: 1260px) {
    display: flex;
    justify-content: space-between;
  }
  @media(max-width: 600px) {
    flex-direction: column;
  }
}

.slider-pl__item{
  @media(max-width: 1260px) {
    flex-basis: calc(50% - 50px);
  }
  @media(max-width: 600px) {
    flex-basis: auto;
  }
}

.icon-question{
  position: relative;
  margin-left: 6px;
}

[data-tippy-root]{
  background: white;
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.1);
}

.slider-delimiter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}

.product-main__flex{
  display: flex;
  @media(max-width: 1600px) {
    margin-bottom: 0;
  }
  @media(max-width: 991px) {
    flex-direction: column;
    align-items: center;
  }
}

.product-main__characteristics{
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  @media(max-width: 991px) {
    margin-top: 40px;
    margin-left: 0;
  }
}

.fast-links{
  flex: 1 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @media(max-width: 991px) {
    margin-top: 10px;
  }
  @media(max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.fast-link{
  font-size: 15px;
  font-weight: 700;
  @media(max-width: 600px) {
    margin-top: 8px;
    &:first-child{
      margin-top: 0;
    }
  }
}

.link-orange{
  transition: all .25s linear;
  color: #FF9100;
  text-decoration: none;
  &:hover{
    color: #e78607;
  }
}

.characteristic-item{
  display: flex;
  margin-bottom: 15px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  &:before{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 16px;
    border-bottom: 1px dashed #A7A7A7;
  }
}

.characteristic-item__label{
  display: flex;
  align-items: center;
  background: white;
  position: relative;
  z-index: 1;
  max-width: 50%;
  padding-right: 5px;
  color: #A7A7A7;
}

.characteristic-item__value{
  background: white;
  position: relative;
  z-index: 1;
  max-width: 50%;
  text-align: right;
  padding-left: 5px;
}

.description{
  background: #F0F2F9;
  border-radius: 30px;
  padding: 20px;
  p + p{
    margin-top: 10px;
  }
}

.description-desktop{
  @media(max-width: 1260px) {
    display: none;
  }
}

.description-mobile{
  display: none;
  @media(max-width: 1260px) {
    display: block;
    margin-top: 20px;
  }
}

.video-main{
  position: relative;
  padding-bottom: 56.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media(max-width: 600px) {
    padding-bottom: 64%;
  }
}

.video-main__play{
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 70px;
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  svg{
    width: 30px;
    height: 30px;
    fill: #F60001;
    @media(max-width: 600px) {
      width: 24px;
      height: 24px;
    }
  }
  @media(max-width: 600px) {
    width: 60px;
    height: 60px;
  }
}

.product-main-block{
  width: calc(100% - 325px);
  @media(max-width: 1260px) {
    width: 100%;
  }
}


.characteristic-items-main{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
  border: 1px solid #A7A7A7;
  border-radius: 30px;
  padding: 20px;
  .characteristic-item{
    width: calc(50% - 50px);
    display: none;
    &.visible{
      display: flex;
    }
    @media(max-width: 991px) {
      width: 100%;
    }
  }
  @media(max-width: 991px) {
    flex-direction: column;
  }
}

.button-all-characteristic {
  display: none;
  margin-top: 26px;
}

.characteristic-block.show-all .characteristic-item {
  display: flex;
}

.characteristic-block.show-all .button-all-characteristic {
  display: inline-flex;
}

.swiper-slide__pic, .chapter-element__pic{
  position: relative;
  display: flex;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  img{
    position: absolute;
    top: 0;
    left: 0;
  }
}

.swiper-main{
  margin: -20px;
  padding: 20px;
  .swiper-slide{
    border-radius: 20px !important;
    background: #F0F2F9;
  }
}

.swiper-slide__content, .chapter-element__content{
  text-align: left;
  padding: 20px;
  .button-main{
    padding: 0 5px;
  }
}

.swiper-slide__title, .chapter-element__title{
  text-decoration: none;
  transition: all .25s linear;
  display: -webkit-box;
  -webkit-line-clamp: 3;     /* Кол-во строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover{
    color: #FF9100;
  }
}

.swiper-slide__characteristic-item, .chapter-element__characteristic-item{
  color: #A7A7A7;
  margin-bottom: 8px;
  &:last-child{
    margin-bottom: 0;
  }
}

.slider-main{
  position: relative;
  .swiper-arrow{
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: white;
    top: calc(50% - 23px);
    border-radius: 50%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 2;
    border: none;
    cursor: pointer;
    svg{
      fill: #F60001;
    }
    &:hover{
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }
    @media(max-width: 767px) {
      top: calc(100%);
    }
  }
  .swiper-arrow_prev{
    left: -23px;
    @media(max-width: 767px) {
      left: calc(50% - 52px);
    }
  }
  .swiper-arrow_next{
    right: -23px;
    @media(max-width: 767px) {
      right: calc(50% - 52px);
    }
  }
  @media(max-width: 767px) {
    margin-bottom: 66px;
  }
}

.catalog-items{
  display: flex;
  flex-flow: row wrap;
  margin-top: -40px;
  justify-content: space-between;
  @media(max-width: 991px) {
    margin-top: -20px;
  }
}

.catalog-item{
  display: flex;
  align-items: flex-start;
  width: calc(50% - 10px);
  margin-top: 40px;
  background: #F0F2F9;
  padding: 30px;
  border-radius: 30px;
  @media(max-width: 1260px) {
    width: 100%;
  }
  @media(max-width: 991px) {
    margin-top: 20px;
    padding: 20px;
  }
  @media(max-width: 767px) {
    flex-direction: column;
  }
}

.catalog-item__pic{
  width: 270px;
  height: 270px;
  padding: 23px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  justify-content: center;
  border-radius: 20px;
  flex-shrink: 0;
  background: white;
  margin-right: 30px;
  img{
    max-height: 100%;
  }
  @media(max-width: 767px) {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.catalog-item__content{
  display: flex;
  flex-direction: column;
  .button{
    margin-top: 6px;
  }
  @media(max-width: 767px) {
    width: 100%;
  }
}

.catalog-item__title{
  text-decoration: none;
  transition: all .25s linear;
  &:hover{
    color: #FF9100;
  }
}

.catalog-item__name{
  margin-bottom: 12px;
  text-decoration: none;
  transition: all .25s linear;
  &:hover{
    color: #FF9100;
  }
}

.swiper-slide__element_article{
  .swiper-slide__pic{
    padding-bottom: 77%;
  }
  .swiper-slide__title{
    color: #F60001;
  }
}

.swiper-slide__description{
  height: 66px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;     /* Кол-во строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-slide__info{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 16px;
  .icon{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 8px;
    svg{
      fill: #FF9100;
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
}

.swiper-slide__info_time{
  .icon{
    svg{
      fill: transparent;
      stroke: #FF9100;
    }
  }
}

.chapter-container{
  display: flex;
  @media(max-width: 991px) {
    flex-direction: column;
  }
}

.chapter-sidebar{
  flex-basis: 305px;
  margin-right: 20px;
  @media(max-width: 991px) {
    margin-right: 0;
    flex-basis: auto;
    width: 100%;
    margin-bottom: 60px;
  }
}

.chapter-main{
  width: calc(100% - 325px);
  @media(max-width: 991px) {
    width: 100%;
  }
}

.chapter-items{
  display: flex;
  flex-flow: row wrap;
  margin-top: -40px;
  margin-right: -20px;
  @media(max-width: 600px) {
    margin-top: -20px;
    margin-right: 0;
  }
}

.chapter-element{
  width: calc(33.3% - 20px);
  margin-right: 20px;
  background: #F0F2F9;
  border-radius: 20px;
  margin-top: 40px;
  @media(max-width: 1260px) {
    width: calc(50% - 20px);
  }
  @media(max-width: 600px) {
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }
}

.chapter-element__pic{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  background: white;
  padding: 20px;
  picture{
    height: 100%;
  }
  img{
    position: relative;
    top: auto;
    left: auto;
    object-fit: cover;
    max-height: 100%;
  }
}

.chapter-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media(max-width: 600px) {
    flex-direction: column-reverse;
  }
}

.chapter-count{
  color: #A7A7A7;
  @media(max-width: 600px) {
    margin-top: 20px;
  }
}
.chapter-navigation-items{
  display: flex;
  height: auto;
  position: relative;
  align-items: center;
}

.chapter-link{
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid transparent;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .25s linear;
  text-decoration: none;
  &.active{
    pointer-events: none;
    border: 1px solid #2B2D38;
  }
  &:hover{
    color: #FF9100;
  }
  &[disabled]{
    display: none;
  }
}

.chapter-link_arrow{
  width: auto;
  display: flex;
  align-items: center;
  .icon{
    width: 7px;
    height: 16px;
   svg{
     fill: transparent;
     stroke: #A7A7A7
   }
  }
}

.chapter-link_arrow-prev{
  margin-right: 10px;
  .icon{
    margin-right: 10px;
  }
}

.chapter-link_arrow-next{
  margin-left: 10px;
  .icon{
    margin-left: 10px;
  }
}

.chapter-links{
  background: #F0F2F9;
  border-radius: 20px;
}

.chapter-link-items{
  border: 1px solid transparent;
  border-radius: 20px;
  transition: all .25s linear;
  overflow: hidden;
  &.active{
    border: 1px solid #FF9100;
    .chapter-trigger{
      background: white;
      border-bottom: 1px solid #FF9100;
      .icon{
        transform: rotate(0deg);
      }
    }
  }
}

.chapter-trigger{
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  background: transparent;
  text-align: left;
  width: 100%;
  border: none;
  transition: all .25s linear;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  .icon{
    flex-shrink: 0;
    transition: all .25s linear;
    margin-left: 10px;
    width: 7px;
    height: 16px;
    transform: rotate(90deg);
    svg{
      stroke: #FF9100;
      fill: transparent;
    }
  }
  a{
    text-decoration: none;
    width: 100%;
    display: inline-flex;
  }
}

.chapter-link-content{
  padding: 0 20px;
  background: white;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.chapter-link-content-click{
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  border-bottom: 1px solid #FF9100;
  transition: all .25s linear;
  text-decoration: none;
  &:hover, &.active{
    color: #FF9100;
  }
  &:last-child{
    border-bottom: none;
  }
}

.chapter-filter{
  margin-top: 20px;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  &.active{
    .chapter-filter-main{
      display: block;
    }
    .icon-arrow{
      transform: rotate(-90deg);
    }
  }
}

.chapter-filter-title{
  display: flex;
  align-items: center;
  position: relative;
  .icon{
    width: 21px;
    height: 21px;
    flex-shrink: 0;
    margin-right: 10px;
    svg{
      fill: transparent;
      stroke: #2B2D38;
    }
  }
  @media(max-width: 991px) {
    margin-bottom: 0;
  }
  .icon-arrow{
    display: none;
    transition: all .25s linear;
    @media(max-width: 991px) {
      display: flex;
      position: absolute;
      right: 0;
      transform: rotate(90deg);
      width: 7px;
      height: 18px;
    }
    svg{
      fill: transparent;
      stroke: #A7A7A7;
    }
  }
}

.chapter-button-sorting{
  background: transparent;
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
  border: none;
  font-weight: 600;
  color: #FF9100;
  .icon{
    width: 7px;
    height: 16px;
    flex-shrink: 0;
    margin-left: 16px;
    transform: rotate(90deg);
    transition: all .25s linear;
    svg{
      stroke: #A7A7A7;
      fill: transparent;
    }
  }
}

.chapter-sorting__item{
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 15px;
  text-decoration: none;
  cursor: pointer;
  &.active{
    .chapter-sorting__item-icon{
      border: 4px solid #F60001;
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
}

.chapter-sorting__item-icon{
  border: 1px solid #A7A7A7;
  transition: all .25s linear;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 10px;
  &:hover{
    border: 1px solid #F60001;
  }
}

.chapter-sorting__items{
  padding: 0 20px;
  background: white;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  border-radius: 16px;
  width: 100%;
}

.chapter-sorting{
  &.active{
    .chapter-button-sorting{
      .icon{
        transform: rotate(0deg);
      }
    }
    .chapter-sorting__items{
      margin-top: 10px;
      border: 1px solid #A7A7A7;
      padding: 20px;
    }
  }
}

.chapter-sorting-default{
  font-size: 16px;
}

.chapter-filter-main{
  @media(max-width: 991px) {
    display: none;
    margin-top: 30px;
  }
}

.x2style{
  .body{
    .body{
      padding-top: 0;
    }
  }
  .bx-filter .bx-filter-section{
    padding-top: 0;
  }
  .bx-filter{
    background: transparent;
  }
  .bx-filter .bx-filter-parameters-box-title{
    padding-bottom: 20px;
  }
  .bx-filter .bx-filter-parameters-box-title span{
    font-weight: 600;
    font-size: 16px;
    color: #2B2D38;
  }
  .bx-filter-title{
    display: none;
  }
  .bx-filter .bx-filter-popup-result{
    border: 1px solid #E7E8EE;
    background: white;
  }
  .row.bx-filter-parameters-box-container{
    display: flex;
    flex-flow: row wrap;
  }
  .bx-ui-slider-track-container{
    width: 100%;
  }
  .bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block i.bx-ft-sub{
    display: none;
  }
  .bx-filter.bx-blue .bx-filter-section{
    background: transparent;
  }
  .bx-filter-param-label{
    position: relative;
    width: 100%;
    input{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
      &:checked{
        & + .check-element{
          .icon{
            svg{
              fill: #ff9100;
            }
          }
        }
      }
    }
  }

  .bx-filter-input-checkbox{
    display: flex;
    align-items: center;
  }
  .bx-filter-param-text{
    flex: 1;
  }
  .checkbox{
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .bx-filter-parameters-box-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    .button-main{
      width: calc(50% - 4px);
    }
  }
  .smartfilter{
    margin-bottom: 0;
  }
  .bx-filter .bx-filter-parameters-box{
    margin-bottom: 30px;
  }
  .bx-filter .bx-ui-slider-track{
    height: 3px;
  }
  .bx-filter.bx-blue .bx-ui-slider-track{
    background: #e7e8ee;
  }
  .bx-filter.bx-blue .bx-ui-slider-pricebar-vn{
    background: #e7e8ee;
  }
  .bx-filter.bx-blue .bx-ui-slider-pricebar-v, .bx-filter.bx-blue .bx-ui-slider-pricebar-vd{
    background: #F60001;
  }
  .bx-filter .bx-ui-slider-handle{
    width: 16px;
    height: 16px;
    top: -7px;
    background: white !important;
    border-radius: 50%;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px solid #F60001;
      border-radius: 50%;
    }
  }
  .bx-filter .bx-ui-slider-handle.left{
    margin-left: -9px;
  }
  .bx-filter .bx-ui-slider-handle.right{
    margin-right: -9px;
  }
  .bx-ui-slider-range{
    z-index: 100 !important;
  }
  .bx-filter .bx-ui-slider-part{
    height: 8px;
    top: 13px;
    background: #A7A7A7;
  }
  .bx-filter .bx-ui-slider-part span{
    top: 11px;
    font-weight: 500;
    color: #A7A7A7;
  }
  .bx-filter .bx-ui-slider-track-container{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.checkbox-button{
  color: #FF9100;
  align-items: center;
  font-weight: 500;
  display: none;
  cursor: pointer;
  .icon{
    width: 7px;
    height: 16px;
    margin-left: 10px;
    svg{
      transform: rotate(90deg);
      fill: transparent;
      stroke: #A7A7A7;
      transition: all .25s linear;
    }
  }
  &.active{
    .icon{
      svg{
        transform: rotate(-90deg);
      }
    }
  }
}

.checkbox-button-count{
  margin-left: 3px;
}

.w-100{
  width: 100%;
}

.check-element{
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #A7A7A7;
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon{
    width: 14px;
    height: 14px;
    svg{
      fill: transparent;
    }
  }
}

.count-element{
  flex-shrink: 0;
  padding: 0 5px;
  background: #E7E8EE;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 8px;
  border-radius: 100px;
  height: 20px;
}

.product-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* ограничение по числу строк */
  -webkit-box-orient: vertical;
  transition: max-height 0.3s ease;
  position: relative;
  p{
    margin: 0 0 18px !important;
  }
}

.product-description.expanded {
  -webkit-line-clamp: unset;
  max-height: none;
}

.product-show-description {
  display: none;
}

.product-show-description.visible {
  display: inline-block;
}

.value-slider{
  display: flex;
  height: 38px;
  border: 1px solid #E7E8EE;
  border-radius: 8px;
  overflow: hidden;
  .bx-filter-parameters-box-container-block{
    width: 100%;
    &:first-child{
      input{
        border-radius: 8px 0 0 8px;
      }
    }
  }
  input{
    border: none !important;
    padding: 0 16px !important;
  }
}

.value-slider__delimiter{
  width: 31px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: #E7E8EE;
}

.value-slider__main{
  width: 52px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: #E7E8EE;
}